service: lambda-test
provider:
  name: aws
  runtime: nodejs6.10
plugins:
  - serverless-offline
functions:
  hello:
    handler: handler.hello
    events:
     - http:
         path: /hello
         method: get
  goodbye:
    handler: handler.goodbye
    events:
      - http:
         path: /goodbye
         method: get
